## ***1. Conocer el dataset***

In [4]:
# Dataset: https://www.kaggle.com/datasets/shivamb/netflix-shows

import kagglehub
import pandas as pd
import os

# Descargar el dataset de Netflix
path = kagglehub.dataset_download("shivamb/netflix-shows")

# Ver ruta de los archivos descargados
print("Dataset descargado en:", path)

# Construir la ruta del archivo descargado
csv_path = os.path.join(path, "netflix_titles.csv")

Dataset descargado en: /kaggle/input/netflix-shows

In [5]:
# 1. Cargar el dataset
df = pd.read_csv(csv_path)

# Mostrar primeras filas
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [6]:
# 2. Revisi√≥n general del dataset
print("Dimensiones:", df.shape)
df.info()
df.describe(include='all')

Dimensiones: (8807, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [7]:
#3. Eliminar duplicados
print(f'El n√∫mero de filas duplicadas es {df.duplicated().sum()}')

El n√∫mero de filas duplicadas es 0

In [8]:
# 4. Ver columnas y valores nulos
df.isnull().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

### En el dataset se encotr√≥ lo siguiente:

* Hay 8807 filas y 12 columnas proporcionadas en los datos.
* Hay valores nulos presentes en director, country, cast, date_added, rating y duration.
* No hay valores duplicados.

## ***2. Entendiendo sus variables***

In [9]:
# Columnas del conjunto de datos
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
# Descripci√≥n del conjunto de datos (todas las columnas incluidas)
df.describe(include= 'all').round(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.00,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.18,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.82,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.00,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.00,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.00,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.00,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.00,NaN,NaN,NaN,NaN

### Variables Description

### <b> El conjunto de datos contiene informaci√≥n sobre pel√≠culas y programas de televisi√≥n. (show id, type, title, director, release year, rating, duration etc.).</b>


<b>Informaci√≥n: </b>

- **show_id**: N√∫mero de identificaci√≥n √∫nico para todas las filas enumeradas

- **type**: denota el tipo de programa, es decir, programa de televisi√≥n o pel√≠cula

- **title**: t√≠tulo de la pel√≠cula

- **director**: Nombre del director/directores

- **cast**: enumera el elenco de la pel√≠cula

- **country**: pa√≠s de la casa productora

- **date_added**: la fecha en que se agreg√≥ el programa

- **release_year**: a√±o del estreno del programa

- **rating**: mostrar calificaciones

- **duration**: duraci√≥n del espect√°culo

- **listed_in**: el g√©nero del programa

- **description**: resumen/descripci√≥n de la pel√≠cula

In [11]:
# Verificar los valores √∫nicos de cada variable usando un bucle for.
for i in df.columns.tolist():
    print(f"N√∫mero de valores √∫nicos en '{i}': {df[i].nunique()}")

N√∫mero de valores √∫nicos en 'show_id': 8807
N√∫mero de valores √∫nicos en 'type': 2
N√∫mero de valores √∫nicos en 'title': 8807
N√∫mero de valores √∫nicos en 'director': 4528
N√∫mero de valores √∫nicos en 'cast': 7692
N√∫mero de valores √∫nicos en 'country': 748
N√∫mero de valores √∫nicos en 'date_added': 1767
N√∫mero de valores √∫nicos en 'release_year': 74
N√∫mero de valores √∫nicos en 'rating': 17
N√∫mero de valores √∫nicos en 'duration': 220
N√∫mero de valores √∫nicos en 'listed_in': 514
N√∫mero de valores √∫nicos en 'description': 8775

## ***3. Data Wrangling***

In [12]:
# Crear una copia del conjunto de datos.
data = df.copy()

In [13]:
# Rellenar los valores nulos de la columna 'cast' con 'No disponible'
data['cast'] = data['cast'].fillna(value='Not available')

In [14]:
# Rellenar los valores nulos en la columna 'country' con 'No conocido'
data['country'] = data['country'].fillna(value='Not Known')

In [15]:
# Dado que 'date_added', 'rating' y 'duration' tienen una baja cantidad de valores nulos (10, 4 y 3 respectivamente), se eliminar√°n esas filas.
data = data.dropna(subset=['date_added', 'rating', 'duration'])

In [16]:
# Como la columna 'director' tiene muchos valores nulos, si los eliminamos perder√≠amos muchos datos, as√≠ que los reemplazo por 'Desconocido'.
data['director'] = data['director'].fillna(value='Unknown')

In [17]:
# Verificando nuevamente los valores faltantes para confirmar
data.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

Para preparar el an√°lisis de datos, hice lo siguiente:
1. Se rellenan los valores faltantes del reparto con No disponible.
2. Complete los valores faltantes del pa√≠s con la moda (valor m√°s frecuente).
3. Se rellenaron los valores faltantes del director con Desconocido.
4. Se eliminaron filas de valores faltantes de 'date_added', 'rating' y 'duration'.

In [18]:
# Divisi√≥n de estructura para normalizar (como base de datos relacional)

# Tabla: Titles
titles_data_v2 = data[['show_id', 'type', 'title', 'release_year', 'rating', 'duration', 'date_added', 'description']].copy()

In [19]:
#  Tabla: Directors (relaci√≥n 1 a muchos con show_id)
directors_data_v2 = data[['show_id', 'director']].dropna()
directors_data_v2 = directors_data_v2.assign(director=directors_data_v2['director'].str.split(',')).explode('director')
directors_data_v2['director'] = directors_data_v2['director'].str.strip()

# Tabla: Cast (relaci√≥n 1 a muchos con show_id)
cast_data_v2 = data[['show_id', 'cast']].dropna()
cast_data_v2 = cast_data_v2.assign(actor=cast_data_v2['cast'].str.split(',')).explode('actor')
cast_data_v2['actor'] = cast_data_v2['actor'].str.strip()
cast_data_v2.drop(columns=['cast'], inplace=True)

# Tabla: Countries (relaci√≥n 1 a muchos con show_id)
countries_data_v2 = data[['show_id', 'country']].dropna()
countries_data_v2 = countries_data_v2.assign(country=countries_data_v2['country'].str.split(',')).explode('country')
countries_data_v2['country'] = countries_data_v2['country'].str.strip()

# Tabla: Categories (listed_in)
categories_data_v2 = data[['show_id', 'listed_in']].dropna()
categories_data_v2 = categories_data_v2.assign(category=categories_data_v2['listed_in'].str.split(',')).explode('category')
categories_data_v2['category'] = categories_data_v2['category'].str.strip()
categories_data_v2.drop(columns=['listed_in'], inplace=True)

# Crear la carpeta si no existe
os.makedirs("recursos", exist_ok=True)

# Guardar todas las tablas en archivos CSV
titles_data_v2.to_csv('recursos/titles.csv', index=False)
directors_data_v2.to_csv('recursos/directors.csv', index=False)
cast_data_v2.to_csv('recursos/cast.csv', index=False)
countries_data_v2.to_csv('recursos/countries.csv', index=False)
categories_data_v2.to_csv('recursos/categories.csv', index=False)

print("‚úÖ Tablas normalizadas exportadas.")

‚úÖ Tablas normalizadas exportadas.

In [17]:
# 4. Ver columnas y valores nulos
countries_data_v2.isnull().sum().sort_values(ascending=False)

show_id    0
country    0
dtype: int64